/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  /* font-family: 'Open Sans', sans-serif; */
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 2.7rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/* 
 * custom codes
*/
.header-mini-post{
  width: 200px; 
  height: 250px;
  background:rgb(240, 240, 240); 
}

.custom-btn{
  padding: .775rem .75rem;
}

.custom-p {
  margin-bottom: 1.1rem !important;
}

.correction-txt {
    font-size: 1rem;
}

.custom-search {
  border: 0;
  padding: 9px 5px 9px 8px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  width: 0;
}

.custom-search-active {
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  width: 260px;
}

.custom-search-position {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 0px;
  top: -8px;
}

.mx-3.search-icon {
    margin-right: 0.2rem !important;
}

a.text-dark {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #343a40  !important;
}

/* ayaw hilabti */
/* a.text-dark:hover {
  color: red !important;
} */

/* para ni sa navigation */
.custom-collapse {
  width: 100%;
}

.navbar {
  padding: .1rem 0rem;
}

.navbarNav{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.white {
  position: fixed;
  
}

.text-muted {
    color: #6c757d !important;
}

.text-hover:hover {
  opacity: .8;
  text-decoration: none;
}

.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

/* effect-shine */
a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 10%, #000 30%, rgba(0,0,0,.6) 70%);
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 10%, #000 30%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  mask-size: 200%;
  animation: shine 1.1s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

/* Search Style */ 
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
	       -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
	     -moz-transform: translate(0px, -100%) scale(0, 0);
	      -ms-transform: translate(0px, -100%) scale(0, 0);
         -o-transform: translate(0px, -100%) scale(0, 0);
	          transform: translate(0px, -100%) scale(0, 0);    
    opacity: 0;
    display: none;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
       -moz-transform: translate(0px, 0px) scale(1, 1);
    	  -ms-transform: translate(0px, 0px) scale(1, 1);
	       -o-transform: translate(0px, 0px) scale(1, 1);
	           transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    z-index: 106;
    display: block;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
  	background: transparent;
  	border-top: 1px solid rgba(255, 255, 255, .8);
  	border-bottom: 2px solid rgba(255, 255, 255, .5);
  	border-left: 0px solid transparent;
  	border-right: 0px solid transparent;
    font-size: 40px;
  	font-family: Roboto;
    font-weight: 300;
    text-align: center;
    outline: none;
  	padding: 10px;
}
  
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
	  opacity: 1;
	  font-size: 27px;
  	color: #fff;
}

#search .close:hover{
  opacity: .7;
  cursor: pointer;
}

.blur-bg {
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
}

/* cover photo */
.cover-slider {
  background: linear-gradient( rgba(35, 255, 218, 0.45), rgba(66, 35, 241, 0.56)),url("https://i1.wp.com/www.projectlupad.com/wp-content/uploads/2018/01/Spectacular-El-Nido-Palawan-Philippines-Aerial-View-Project-LUPAD.jpeg?fit=1740%2C1160&ssl=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
}

.cover-slider.rounded {
  border-radius: .2rem !important;
}

.p-md-5.cover-slider{
  padding: 9rem 1.8rem 1.8rem !important;
}

.navbar-light .navbar-toggler{
  color: rgba(0,0,0,.5);
  border-color: white;
}

.category-margin {
  margin-bottom: 0rem !important;
}

.btn {
  padding: .375rem 1.7rem .47rem 1.7rem;
}